a {
    color: #fff;
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
  }
  .header {
    background-color: #20232a;
    color: #ffffff;
    z-index: 1;
    width: 100%;
  }
  .navMenu {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }
  .navMenuleft,
  .navMenuRight {
    height: 100%;
    display: flex;
  }
  .navMenuleft a,
  .navMenuRight a {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 15px;
    font-size: 18px;
  }
  a.selected {
    border-bottom: 3px solid #61dafb;
    color: #61dafb;
  }
  .header a:hover {
    border-bottom: 3px solid #61dafb;
    color: #61dafb;
  }
  
  .registerForm,
  .loginForm {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    margin: 0 auto;
  }
  .registerForm input,
  .loginForm input,
  .createBookArea {
    width: 280px;
  }

  .inputErrors {
    border-bottom: 1px solid red;
  }
  .registerCard,
  .loginCard {
    max-width: 320px;
    margin: 100px auto;
  }
  .registerCardHeader,
  .loginCardHeader {
    text-align: center;
  }
  .libraryPage a {
    color: #000;
    font-weight: 700;
    text-decoration: underline;
  }
  .libraryPage li {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }
  .libraryPage ul {
    max-width: 300px;
  }
  .libraryPage {
    position: relative;
  }
  .libraryPage span{
    color: gray;
    cursor: pointer;
  }
  .libraryPage span:hover{
    color: #000;
    cursor: pointer;
  }
  .progressBar {
    position: absolute;
    top: 100px;
    left: 70px;
    display: none;
  }
  .progressBar.active {
    display: block;
  }
  .detailPage {
    position: relative;
  }
  .detailPage .active {
    display: block;
  }
  .detailPage .hidden {
    display: none;
  }
  .libraryPage .addedFavorite span{
   color: #000;
  }
  .addBookInput .addBookInputName,
  .addBookInput .MuiFormControl-root,
  .addBookInput .MuiInput-underline:hover:not(.Mui-disabled):before{
    border-bottom: 1px solid red;
  }
  
  .addBookInput .MuiInput-underline:before{
    border: none;
  }
  